@{
    ViewBag.Title = "Toplantı Başvuru";
    Layout = "_Layout2";
}
<!-- <h1 class="h4">@ViewBag.WelcomeMessage, @ViewBag.Username</h1> -->
<h1 class="h4">@ViewData["WelcomeMessage"], @ViewData["Username"]</h1>
<h2>Toplantı katılım durumunuzu bildiriniz.</h2>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>